@charset "UTF-8";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

h1 {
    margin: 0px;
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    font-size: 18px;
}

nav ul li:hover {
    color: #007bff;
    transition: 0.3s;
}

#task-form {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 500px;
}

#set-time {
    width: 400px;
    margin: auto;
    font-size: 18px;
}

#set-time span {
    font-size: 24px;
}

#task-input {
    width: 400px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    text-indent: 16px;
}

#task-button {
    font-size: 18px;
    width: 70px;
    height: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
}

#task-button:hover {
    background-color: #b3b5b4;
    transform: translate(2px, 2px);
}

#task-list {
    width: 700px;
    margin: 50px auto;
}

#task-list li {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#task-list span {
    display: inline-block;
    font-size: 14px;
    margin-left: auto;
    color: #fff;
    padding: 2px 5px;
    background-color: rgb(2, 193, 85);
    border-radius: 3px;
    font-weight: 600;
}

.start-button {
    font-size: 12px;
    margin-left: 20px;
    padding: 5px 15px;
}

.delete-button {
    font-size: 12px;
    margin-left: 20px;
    padding: 5px 15px;
}

.checkbox {
    transform: scale(1.5);
    margin-right: 20px;
}

#time-display {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: monospace;
    color: #fff;
    background-color: #b3b5b4;
    width: 700px;
    margin: 0 auto;
    border-radius: 20px;
}