@charset "UTF-8";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f4f4f4;
}

h1 {
    margin: 0px;
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li {
    font-size: 18px;
}

nav ul li:hover {
    color: #007bff;
    transition: 0.3s;
}

#task-form {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 500px;
}

#set-time {
    width: 400px;
    margin: auto;
    font-size: 18px;
}

#set-time span {
    font-size: 24px;
}

#task-input {
    width: 300px;
    font-size: 24px;
}

#task-button {
    font-size: 22px;
    border-radius: 5px;
    border: 2px solid;
}

#task-button:hover {
    background-color: #b3b5b4;
    transition: 0.3s;
}

#task-list {
    width: 700px;
    margin: 50px auto;
}

#task-list li {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#task-list span {
    display: inline-block;
    font-size: 14px;
    margin-left: auto;
    color: #fff;
    padding: 2px 5px;
    background-color: rgb(2, 193, 85);
    border-radius: 3px;
    font-family: monospace;
    font-weight: bold;
}

#delete-button {
    font-size: 12px;
    margin-left: 20px;
    padding: 5px 15px;
}

#checkbox {
    transform: scale(1.5);
    margin-right: 20px;
}